{% extends 'Admin/header_footer.html' %}
{% load static %}
{% block title %} Update Area {% endblock %}
{% block body %}
    <div class="ec-cat-list card card-default mb-24px">
        <div class="card-body">
            <div class="ec-cat-form">
                <h4>Update Area</h4>
                <form method="post" action="/Admin/u_area/{{area.AreaId}}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="text" class="col-12 col-form-label">Area Id</label> 
                        <div class="col-12">
                            <input id="AreaId" name="AreaId" class="form-control here slug-title" placeholder="Add Area Id" disabled value="{{area.AreaId}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="slug" class="col-12 col-form-label">Area Name</label> 
                        <div class="col-12">
                            <input id="AreaName" name="AreaName" class="form-control here set-slug" placeholder="Add New Area">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Pin Code</label> 
                        <div class="col-12">
                            <input id="pinCode" name="pinCode" class="form-control here slug-title" placeholder="Add Pin Code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">City Name</label> 
                        <div class="col-12">
                            <select name="CityId">
                                {% for aras in ct %}
                                    <option value="{{aras.CityId}}">{{aras.CityName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-12">
                            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}